body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  h2 {
    text-align: center;
    margin-top: 30px;
    color: #555;
  }
  
  #formContent {
    margin-top: 20px;
  }
  
  form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  form input:focus {
    border-color: #4CAF50;
  }
  
  form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  form button:active {
    background-color: #3e8e41;
  }
   

.error-message {
    color: red;
    margin-bottom: 10px;
}

/* index.html file */

#userInstruction{
    display: flex;
    text-align: center;
    justify-content:space-between;
    width: 250px;
    margin: auto;
}

